[submodule "charms/layers/openvpn"]
	path = charms/layers/openvpn
	url = git@github.com:tengu-team/layer-openvpn.git
[submodule "charms/layers/puppet-base"]
	path = charms/layers/puppet-base
	url = git@github.com:tengu-team/layer-puppet-base.git
[submodule "charms/layers/network-agent"]
	path = charms/layers/network-agent
	url = https://github.com/tengu-team/layer-network-agent
[submodule "charms/layers/jupyter-notebook-spark"]
	path = charms/layers/jupyter-notebook-spark
	url = git@github.com:tengu-team/layer-jupyter-notebook-spark.git
[submodule "charms/layers/jupyter-notebook"]
	path = charms/layers/jupyter-notebook
	url = git@github.com:tengu-team/layer-jupyter-notebook.git
[submodule "charms/layers/limeds"]
	path = charms/layers/limeds
	url = git@github.com:tengu-team/layer-limeds.git
[submodule "charms/layers/docker"]
	path = charms/layers/docker
	url = git@github.com:tengu-team/layer-docker.git
[submodule "charms/interfaces/docker-image-host"]
	path = charms/interfaces/docker-image-host
	url = https://github.com/tengu-team/interface-docker-image-host.git
[submodule "bundles/limeds-core"]
	path = bundles/limeds-core
	url = git@github.com:tengu-team/bundle-limeds-core.git
[submodule "charms/layers/eclipse-che"]
	path = charms/layers/eclipse-che
	url = git@github.com:tengu-team/layer-eclipse-che.git
[submodule "charms/layers/flask-helloworld"]
	path = charms/layers/flask-helloworld
	url = git@github.com:tengu-team/layer-flask-helloworld.git
[submodule "charms/layers/apache-nifi"]
	path = charms/layers/apache-nifi
	url = git@github.com:tengu-team/layer-apache-nifi.git
[submodule "charms/layers/neo4j"]
	path = charms/layers/neo4j
	url = git@github.com:tengu-team/layer-neo4j.git
[submodule "charms/layers/limeds-mongodb"]
	path = charms/layers/limeds-mongodb
	url = git@github.com:tengu-team/layer-limeds-mongodb.git
[submodule "charms/interfaces/limeds"]
	path = charms/interfaces/limeds
	url = git@github.com:tengu-team/interface-limeds.git
[submodule "charms/layers/limeds-installable"]
	path = charms/layers/limeds-installable
	url = https://github.com/tengu-team/layer-limeds-installable
[submodule "charms/layers/limeds-sidecar"]
	path = charms/layers/limeds-sidecar
	url = git@github.com:tengu-team/layer-limeds-sidecar.git
[submodule "charms/layers/limeds-influxdb"]
	path = charms/layers/limeds-influxdb
	url = git@github.com:tengu-team/layer-limeds-influxdb.git
[submodule "bundles/limeds-bigdata"]
	path = bundles/limeds-bigdata
	url = git@github.com:tengu-team/bundle-limeds-bigdata.git
[submodule "charms/layers/mattermost"]
	path = charms/layers/mattermost
	url = git@github.com:tengu-team/layer-mattermost.git
[submodule "charms/interfaces/opened-ports"]
	path = charms/interfaces/opened-ports
	url = git@github.com:tengu-team/interface-opened-ports.git
[submodule "bundles/streaming"]
	path = bundles/streaming
	url = git@github.com:tengu-team/bundle-streaming.git
[submodule "bundles/microbatch"]
	path = bundles/microbatch
	url = git@github.com:tengu-team/bundle-microbatch.git
[submodule "charms/interfaces/sojobo"]
	path = charms/interfaces/sojobo
	url = git@github.com:tengu-team/interface-sojobo.git
[submodule "charms/layers/controller-MAAS"]
	path = charms/layers/controller-MAAS
	url = git@github.com:tengu-team/layer-controller-MAAS.git
[submodule "charms/layers/controller-GOOGLE"]
	path = charms/layers/controller-GOOGLE
	url = git@github.com:tengu-team/layer-controller-GOOGLE.git
[submodule "charms/layers/controller-AWS"]
	path = charms/layers/controller-AWS
	url = git@github.com:tengu-team/layer-controller-AWS.git
[submodule "charms/layers/juju2-client"]
	path = charms/layers/juju2-client
	url = git@github.com:tengu-team/layer-juju2-client.git
[submodule "charms/layers/sojobo"]
	path = charms/layers/sojobo
	url = git@github.com:tengu-team/layer-sojobo.git
[submodule "charms/layers/java"]
	path = charms/layers/java
	url = git@github.com:tengu-team/layer-java.git
[submodule "charms/tengu-ui"]
	path = charms/tengu-ui
	url = git@github.com:tengu-team/layer-tengu-ui.git
[submodule "charms/kafka-subscriber"]
	path = charms/kafka-subscriber
	url = git@github.com:tengu-team/layer-kafka-subscriber.git
[submodule "charms/kafka-helper"]
	path = charms/kafka-helper
	url = git@github.com:tengu-team/layer-kafka-helper.git
[submodule "charms/kafka-subclient"]
	path = charms/kafka-subclient
	url = git@github.com:tengu-team/layer-kafka-subclient.git
[submodule "charms/layers/influxdb"]
	path = charms/layers/influxdb
	url = git@github.com:tengu-team/layer-influxdb.git
[submodule "charms/layers/lets-encrypt"]
	path = charms/layers/lets-encrypt
	url = git@github.com:tengu-team/layer-lets-encrypt.git